* {
    margin: 0;
    padding: 0;
}

:root {
    --c-brand-bg-rgb: 255, 155, 207;
    /* #0f1633 */
    --main-color: #040a1e;
    --secondary-color: #9aacc9;
}

.navbar, #supporters {
    background: var(--main-color);
}

.navbar {
    border-bottom: 2px solid var(--secondary-color);
    top: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    z-index: 900;
}

.nav-item {
    margin: 0 1.5rem;
}

/* .nav-link:hover {
    transform: translateY(10px);
    transition: transform 0.5s ease;
} */

.nav-link {
    border-radius: 1.2rem;
}

.nav-link:hover {
    background-color: #5569f0;
    color: white !important;
    transition: 0.5s;
}

.navbar-brand, .nav-link, .banner__buttons, .banner-text {
    color: var(--secondary-color) !important;
}

.bi-stopwatch {
    position: absolute;
    top: 50%;
    opacity: 0.2;
    margin-top: -1%;
    margin-left: -1%;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(154, 172, 201, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler {
    border-color: var(--secondary-color) !important;
}

/* Broken animation */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Nearly works, the watch should be perfect shape to not make it look sus */
/* .rotate, img {
    animation: rotate 2s linear infinite;
} */

.profile__icon, .nav-link {
    color: var(--secondary-color);
}

.profile__icon:hover {
    background-color: #5569f0;
    color: #ffffff !important;
    transition: 0.4s;
}

.sub-menu-wrap {
    z-index: 900;
    right: 3%;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 500px;
}

.sub-menu {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    background-color: var(--main-color);
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 12px 0;
}

.sub-menu-link a {
    color: var(--secondary-color);
}

.sub-menu-link p {
    width: 100%;
    margin: 0 10px;
    color: var(--secondary-color);
}

.sub-menu-link:hover {
    background-color: #5569f0;
    transition: 0.5s;
}

.sub-menu-icon {
    color: var(--secondary-color) !important;
}

.sub-menu-link:hover svg, .sub-menu-link:hover a, .sub-menu-link:hover .logout-btn {
    color: #ffffff !important;
}

.sub-menu-link:hover {
    border-left: 1.5px solid #ffffff;
    transition: 0.1s;
}

.user-info {
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}

.user-info svg {
    width: 50px;
    margin-right: 10px;
}

.logout-btn {
    color: var(--secondary-color) !important;
}

#connectBTN {
    padding: 0.2rem 0;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: var(--main-color);
}

/* Search bar */
.search__bar__navigation {
    background-color: var(--main-color);
    top: 10vh;
    width: 100%;
    height: 8vh;
    z-index: 10;
}

.search__bar__navigation input {
    background-color: var(--main-color) !important;
}

.search__bar__navigation svg {
    fill: var(--main-color) !important;
}

.search__bar__navigation input::placeholder {
    color: var(--secondary-color) !important;
    opacity: 0.7;
}

.search__bar__navigation form {
    border-color: var(--secondary-color) !important;
}

.search__bar__navigation button {
    background-color: var(--secondary-color) !important;
}

.search__bar__navigation button:hover {
    background-color: #5569f0 !important;
    border-color: white !important;
    transition: 0.3s;
}

.search__bar__navigation button:hover svg {
    fill: white !important;
    transition: 0.3s;
}

.search__bar {
    width: 100%;
    margin: 0 20%;
    clear: both;
}

/* Hero section */
.hero {
    /* background: linear-gradient(rgba(255, 155, 207, 0.507), rgba(255, 155, 207, 0.438)), url(images/wallpaperflare.com_wallpaper\(1\).jpg); */
    background: url('../images/home_page_banner.png');
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.hero button {
    background-color: #0455BF;
}

/* Brand Partners */
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#watchBanner {
    height: 600px;
    width: 650px;
}

.buttons-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#bannerTextCont {
    padding-right: 2rem;
}

#bannerTextCont h4 {
    opacity: 0.5;
}

#bannerTextCont h5 {
    opacity: 0.8;
}

#connectBTN, #buyButton, #watchesButton {
    border-color: var(--secondary-color) !important;
    background-color: var(--secondary-color) !important;
}

#buyTokenButton  {
    border-color: var(--secondary-color) !important;
    background-color: var(--main-color) !important;
    color: var(--secondary-color);
}

#connectBTN:hover, #watchesButton:hover, #buyTokenButton:hover, #buyButton:hover {
    background-color: #5569f0 !important;
    color: #ffffff !important;
    transition: 0.5s;
}

/* Supporters section */

#supporters {
    position: block;
    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.logos {
    overflow: hidden;
    height: 11vh;
    white-space: nowrap;
    position: relative;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos:before, .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(15, 22, 51, 100));
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(15, 22, 51, 100));
}

.brand__logos {
    opacity: 0.8;
    position: relative;
    margin: 0 40px;
    height: 75px;
    width: 150px;
}

.logos-slide {
    display: inline-block;
    animation: 50s slide infinite linear;
}

/* Watches page */
.offers__container {
    padding: 2rem 8vw;
    background-color: var(--main-color);
}

.aside__container {
    background-color: var(--main-color);
    padding-top: 5rem;
}

.dropdown-toggle {
    color: var(--main-color) !important;
    background-color: var(--secondary-color) !important;
}

.dropdown-toggle:hover {
    color: white !important;
    background-color: #5569f0 !important;
    transition: 0.5s;
}

.dropdown-menu {
    background-color: #5569f0 !important;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background-color: #5586f0 !important;
}

.recommendation-wrap {
    background-color: var(--main-color);
    padding: 0 5%;
}

/* New product page */
.aside_menu_button {
    background-color: var(--main-color);
    border: solid 2px var(--secondary-color);
    border-radius: 1rem;
}

.new-product-section {
    padding-top: 1rem;
    background-color: var(--main-color);
}

#sidebarDesktop {
    top: 13%;
    height: 450px;
}

.new-product-section .aside-wrap-menu, .new-product-container {
    width: 20vw;
}

.new-product-section .aside-menu {
    margin: 1rem 0 0 0.7rem;
}

.new-product-section .aside-menu .bi {
    padding-right: 2px;
}

.new-product-section .aside-wrap-menu h4,
.new-product-section .aside-wrap-menu li,
.new-product-section .new-product-container h6,
.new-product-section .wrapper-new-product label {
    color: var(--secondary-color) !important;
}

.transaction-item, .aside-wrap-menu .menu-item, .general-item {
    margin: 1rem 0;
}

.new-product-container {
    padding-top: 1rem;
    width: 80vw;
}

.new-product-container h4 {
    color: #9aacc9 !important;
    opacity: 0.6;
}

.new-product-form .btn {
    background-color: var(--secondary-color);
    color: var(--main-color) !important;
    font-size: large;
}

.new-product-form .btn:hover {
    background-color: #5569f0;
    color: white !important;
    transition: 0.5s;
}

.wrapper-new-product, .wrapper-gallery {
    width: 40vw;
}

.wrapper-gallery {
    padding-top: 2rem;
}

.wrapper-gallery #productImage {
    width: 30vw;
}

.main-menu-link, .general-link, .transaction-link {
    color: var(--secondary-color) !important;
}

@media (max-width: 991px) {
    .new-product-section {
        display: flex;
        justify-content: center;
    }

    .new-product-section h4 {
        text-align: center;
    }

    .new-product-container, .new-product-form {
        width: 90vw;
    }

    .wrapper-new-product, .wrapper-gallery {
        width: 90vw;
    }

    .aside-wrap-menu {
        width: 250px !important;
        z-index: 800;
        background-color: var(--main-color);
        border: solid 2px var(--secondary-color);
        border-radius: 0.5rem;
    }

    .mobile-menu {
        left: 0;
    }

    .mobile-menu.close {
        transform: translate(-82%);
        transition: 1s;
    }
}

/* Link to Men and Women watches page */
#MenAndWomenLinks {
    background-color: var(--main-color);
    border-bottom: 2px solid var(--secondary-color);
    padding: 6rem 0;
}

#MenAndWomenLinks img {
    height: 400px;
    width: 400px;
    border-color: var(--secondary-color) !important;
}

.text-over {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

/* Native token section on home page */

#nativeTokenSection {
    padding: 4rem 0;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

#nativeTokenSection #title {
    display: inline-block !important;
    width: 100% !important;
    font-size: 40px;
}

#nativeTokenSection p {
    clear: left;
}

#nativeTokenSection .image__cont {
    margin: 0 5% 0 10%;
}

#nativeTokenSection .text__cont {
    margin-right: 7%;
}

/* Most popular products */
.card-body {
    /* background-color: #f7f9fc; */
    background-color: #e7ebf1;
}

.card-body .btn {
    background-color: #ef476f !important;
    border-color: #ef476f;
    color: var(--main-color);
}

.card-body .btn {

}

/* Footer section */
footer {
    background: var(--main-color);
    padding: 85px 25px;
}

.single-box p {
    color: var(--secondary-color) !important;
    line-height: 1.9;
}

.single-box h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary-color) !important;
}

.single-box .card-area i {
    color: var(--secondary-color) !important;
    font-size: 20px;
    margin-right: 10px;
}

.single-box ul {
    list-style: none;
    padding: 0;
}

.single-box ul li a {
    text-decoration: none;
    color: var(--secondary-color) !important;
    line-height: 2.5;
    font-weight: 100;
}

.single-box h2 {
    color: var(--secondary-color) !important;
    font-size: 20px;
    font-weight: 700;
}

.basic-addon2 {
    color: var(--secondary-color) !important;
    color: var(--main-color) !important;
}

.socials i {
    font-size: 18px;
    margin-right: 15px;
}

/* Login and Register pages */

.text {
    color: var(--secondary-color);
}

#loginPageBrandImg,
#registerPageBrandImg {
    position: absolute;
    top: 1.5rem;
}

#loginBody,
#registerBody {
    background-image: url('../images/login-page-bg-img.png');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background-position: center center;
    background-size: cover;
}

#loginCont, #registerCont {
    width: 470px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid #5569f0;
    padding: 30px 40px;
    border-radius: 15px;
}

#loginCont .remember-forgot,
#loginCont .register-link {
    display: flex;
    justify-content: space-between;
}

#loginCont .register-link {
    margin-top: 0.5rem;
}

#loginCont input,
#addWatchCont input,
#registerCont input {
    color: var(--secondary-color);
}

#loginCont .remember-forgot input {
    accent-color: #5569f0;
    background-color: var(--secondary-color);
}

#loginCont input::placeholder,
#addWatchCont input::placeholder,
#registerCont input::placeholder {
    color: rgba(154, 172, 201, 0.6);
}

#loginCont a:hover,
#registerCont a :hover {
    text-decoration: underline !important;
    text-decoration-color: #5569f0 !important;
}

#loginCont h1,
#addWatchCont h1,
#registerCont h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

#loginCont .input-box,
#registerCont .input-box,
textarea {
    height: 50px;
    margin: 20px 0;
}

#addWatchCont #descriptionBox {
    position: relative;
    width: 100%;
    margin: 30px 0;
}

#registerCont .first-last-name {
    width: 49%;
    display: inline-block;
    margin: 0;
    margin-top: 30px;
}

.input-box input,
textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #5569f0;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box svg {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

#loginCont .btn,
#registerCont .btn,
#addWatchCont .btn {
    width: 100%;
    height: 45px;
    background-color: #5569f0;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

#loginCont .btn:hover {
    background-color: var(--secondary-color);
    transition: 0.5s;
}

/* Media properties */
@media (max-width: 991px) {
    /* TODO: what to do with banner design mobile mode */
    #watchBanner {
        display: none;
    }

    .navbar {
        height: 10vh;
    }

    .navbar-nav {
        background-color: var(--main-color);
        padding-bottom: 0.7rem;
        border: solid var(--secondary-color) 2px;
        border-radius: 1rem;
    }

    .hero {
        height: 75vh;
    }

    #MenAndWomenLinks {
        padding: 3rem 0;
    }

    #MenAndWomenLinks img {
        height: 300px;
        width: 300px;
    }

    .single-box {
        margin-bottom: 50px;
    }

    #connectWalletBTN {
        background-color: var(--secondary-color);
        border: solid !important;
        border-radius: 1rem;
    }

    #connectWalletBTN button {
        font-size: large;
    }

    .nav-item {
        margin: 1rem 5rem;
        border: 2px;
        border-color: var(--secondary-color);
    }

    .hero, #loginContainer {
        padding: 2rem 0;
    }
}

@media (max-width: 767px) {
    .offers__container {
        padding: 3rem 20vw;
    }
}