<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"> </head>

<body>
    <nav th:replace="~{fragments/navbar}"> </nav>

    <!-- Section -->
    <section class="d-flex new-product-section">
        <div class="mobile-menu position-absolute d-flex d-lg-none">
            <aside class="aside-wrap-menu start-0 d-block ps-lg-3 pt-3 pt-lg-0">
                <div class="main-menu">
                    <h4>Main Menu</h4>
                    <ul class="menu-links">
                        <!-- TODO: Center the SVGs -->
                        <li class="menu-item list-unstyled align-items-center">
                            <a href="#" class="main-menu-link text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-bag-check-fill text-center" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z" />
                                </svg>
                                Sales
                            </a>
                        </li>
                        <li class="menu-item list-unstyled">
                            <a href="#" class="main-menu-link text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-smartwatch" viewBox="0 0 16 16">
                                    <path d="M9 5a.5.5 0 0 0-1 0v3H6a.5.5 0 0 0 0 1h2.5a.5.5 0 0 0 .5-.5z" />
                                    <path
                                            d="M4 1.667v.383A2.5 2.5 0 0 0 2 4.5v7a2.5 2.5 0 0 0 2 2.45v.383C4 15.253 4.746 16 5.667 16h4.666c.92 0 1.667-.746 1.667-1.667v-.383a2.5 2.5 0 0 0 2-2.45V8h.5a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5H14v-.5a2.5 2.5 0 0 0-2-2.45v-.383C12 .747 11.254 0 10.333 0H5.667C4.747 0 4 .746 4 1.667M4.5 3h7A1.5 1.5 0 0 1 13 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 11.5v-7A1.5 1.5 0 0 1 4.5 3" />
                                </svg>
                                Product
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="transactions">
                    <h4>Transactions</h4>
                    <ul class="transaction-links">
                        <li class="transaction-item list-unstyled">
                            <a href="#" class="transaction-link text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-wallet" viewBox="0 0 16 16">
                                    <path
                                            d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a2 2 0 0 1-1-.268M1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1" />
                                </svg>
                                Payment
                            </a>
                        </li>
                        <li class="transaction-item list-unstyled">
                            <a href="#" class="transaction-link text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
                                    <path
                                            d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5M11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z" />
                                    <path
                                            d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118z" />
                                </svg>
                                Refunds
                            </a>
                        </li>
                        <li class="transaction-item list-unstyled">
                            <a href="#" class="transaction-link text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-compass" viewBox="0 0 16 16">
                                    <path
                                            d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016m6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0" />
                                    <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
                                </svg>
                                Explorer
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="general">
                    <h4>General</h4>
                    <ul class="general-links">
                        <li class="general-item list-unstyled">
                            <a href="#" class="general-link text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-bell" viewBox="0 0 16 16">
                                    <path
                                            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6" />
                                </svg>
                                Notifications
                            </a>
                        </li>
                        <li class="general-item list-unstyled">
                            <a href="#" class="general-link text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-sliders" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z" />
                                </svg>
                                Settings
                            </a>
                        </li>
                        <li class="general-item list-unstyled">
                            <a href="#" class="general-link text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-eye" viewBox="0 0 16 16">
                                    <path
                                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                    <path
                                            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                </svg>
                                Dark Mode
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <img src="/images/new_product_aside_menu_icon.png" class="aside_menu_button start-0 z-1 ms-2 d-block d-lg-none p-2" width="48" height="48" alt="">
        </div>
        <aside class="aside-wrap-menu position-sticky d-none d-lg-block ps-3" id="sidebarDesktop">
            <div class="main-menu">
                <h4>Main Menu</h4>
                <ul class="menu-links">
                    <!-- TODO: Center the SVGs -->
                    <li class="menu-item list-unstyled align-items-center">
                        <a href="#" class="main-menu-link text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-bag-check-fill text-center" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z" />
                            </svg>
                            Sales
                        </a>
                    </li>
                    <li class="menu-item list-unstyled">
                        <a href="#" class="main-menu-link text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-smartwatch" viewBox="0 0 16 16">
                                <path d="M9 5a.5.5 0 0 0-1 0v3H6a.5.5 0 0 0 0 1h2.5a.5.5 0 0 0 .5-.5z" />
                                <path
                                        d="M4 1.667v.383A2.5 2.5 0 0 0 2 4.5v7a2.5 2.5 0 0 0 2 2.45v.383C4 15.253 4.746 16 5.667 16h4.666c.92 0 1.667-.746 1.667-1.667v-.383a2.5 2.5 0 0 0 2-2.45V8h.5a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5H14v-.5a2.5 2.5 0 0 0-2-2.45v-.383C12 .747 11.254 0 10.333 0H5.667C4.747 0 4 .746 4 1.667M4.5 3h7A1.5 1.5 0 0 1 13 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 11.5v-7A1.5 1.5 0 0 1 4.5 3" />
                            </svg>
                            Product
                        </a>
                    </li>
                </ul>
            </div>
            <div class="transactions">
                <h4>Transactions</h4>
                <ul class="transaction-links">
                    <li class="transaction-item list-unstyled">
                        <a href="#" class="transaction-link text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-wallet" viewBox="0 0 16 16">
                                <path
                                        d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a2 2 0 0 1-1-.268M1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1" />
                            </svg>
                            Payment
                        </a>
                    </li>
                    <li class="transaction-item list-unstyled">
                        <a href="#" class="transaction-link text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
                                <path
                                        d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5M11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z" />
                                <path
                                        d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118z" />
                            </svg>
                            Refunds
                        </a>
                    </li>
                    <li class="transaction-item list-unstyled">
                        <a href="#" class="transaction-link text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-compass" viewBox="0 0 16 16">
                                <path
                                        d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016m6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0" />
                                <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
                            </svg>
                            Explorer
                        </a>
                    </li>
                </ul>
            </div>
            <div class="general">
                <h4>General</h4>
                <ul class="general-links">
                    <li class="general-item list-unstyled">
                        <a href="#" class="general-link text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-bell" viewBox="0 0 16 16">
                                <path
                                        d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6" />
                            </svg>
                            Notifications
                        </a>
                    </li>
                    <li class="general-item list-unstyled">
                        <a href="#" class="general-link text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-sliders" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z" />
                            </svg>
                            Settings
                        </a>
                    </li>
                    <li class="general-item list-unstyled">
                        <a href="#" class="general-link text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-eye" viewBox="0 0 16 16">
                                <path
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path
                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg>
                            Dark Mode
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- Aside Menu EOF -->

        <div class="new-product-container">
            <form th:method="POST"
                  th:action="@{/products/add-watch}"
                  th:object="${watchDTO}"
                  class="new-product-form align-items-start"
                  enctype="multipart/form-data">
                <div class="new-product-wrapper d-lg-flex">
                    <div class="wrapper-new-product">
                        <div class="description">
                            <h4>General Information</h4>
                            <div class="form-group new-product-input-box">
                                <label class="mt-4 mb-2" for="name">Product Name</label>
                                <input th:field="*{name}"
                                       type="text" placeholder="Name Product" class="form-control rounded-2"
                                       id="name">
                                <p class="alert alert-danger mt-2 py-2">
                                    Product name is required!
                                </p>
                            </div>
                            <div class="form-group new-product-input-box">
                                <label class="mt-4 mb-2" for="description">Description</label>
                                <input class="d-none">
                                    <textarea th:field="*{description}"
                                              class="form-control rounded-2 position-relative"
                                              placeholder="Description"
                                              rows="5"
                                              id="description">
                                    </textarea>
                                <p class="alert alert-danger mt-2 py-2">
                                    Description is required!
                                </p>
                            </div>
                        </div>
                        <div class="characteristics mt-5 row">
                            <h4>Watch Characteristics</h4>
                            <div class="form-group brand-option-box col-6">
                                <label class="mt-4 mb-2" for="brand">Brand</label >
                                <input th:field="*{brand}"
                                       type="text" placeholder="Brand" class="form-control rounded-2"
                                       id="brand">
                                <p class="alert alert-danger mt-2 py-2">
                                    Brand is required!
                                </p>
                            </div>
                            <div class="form-group mechanism-option-box col-6">
                                <label class="mt-4 mb-2" for="movement">Movement</label>
                                <select th:field="*{movement}"
                                        class="form-control rounded-2" id="movement">
                                    <option value="">Select value</option>
                                    <option th:each="movement: ${T(bg.softuni.bitchron.model.enums.MovementType).values()}"
                                            th:text="${movement.getMovement()}"
                                            th:value="${movement}">
                                    </option>
                                </select>
                                <p class="alert alert-danger mt-2 py-2">
                                    Movement type is required!
                                </p>
                            </div>
                            <div class="form-group mechanism-option-box col-6">
                                <label class="mt-4 mb-2" for="strap">Strap</label>
                                <select th:field="*{strap}"
                                        th:type="text"
                                        class="form-control rounded-2" id="strap">
                                    <option value="">Select value</option>
                                    <option th:each="strap: ${T(bg.softuni.bitchron.model.enums.StrapType).values()}"
                                            th:text="${strap.getStrap()}"
                                            th:value="${strap}">
                                    </option>
                                </select>
                                <p class="alert alert-danger mt-2 py-2">
                                    Strap material is required!
                                </p>
                            </div>
                            <div class="form-group mechanism-option-box col-6">
                                <label class="mt-4 mb-2" for="chassisSize">Chassis</label>
                                <input th:field="*{chassisSize}"
                                       type="text" placeholder="Chassis Size" class="form-control rounded-2"
                                       id="chassisSize">
                                <p class="alert alert-danger mt-2 py-2">
                                    Chassis size is required!
                                </p>
                            </div>
                            <div class="form-group d-flex">
<!--                                TODO: gender or sex-->
                                <label
                                       class="mt-4 mb-4">Gender:</label>
                                <div class="form-check d-flex align-items-center mx-3">
                                    <input class="form-check-input" type="radio" name="genderRadio" id="maleRadio">
                                    <label class="form-check-label ms-2" for="maleRadio">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check d-flex align-items-center mx-3">
                                    <input class="form-check-input" type="radio" name="genderRadio" id="femaleRadio">
                                    <label class="form-check-label ms-2" for="femaleRadio">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>
                        <h4>Stock</h4>
                        <div class="row">
                            <div class="form-group new-product-input-box col-12">
                                <label class="mt-4 mb-2" for="stock">Stock</label>
                                <input th:field="*{stock}"
                                       type="text" placeholder="Stock" class="form-control rounded-2"
                                       id="stock">
                                <p class="alert alert-danger mt-2 py-2">
                                    Stock quantity is required!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-gallery d-flex justify-content-center">
                        <div class="gallery text-white">
                            <div class="mb-4 d-flex justify-content-center">
                                <img id="productImage" th:src="@{/images/placeholder.jpg}"
                                    alt="example placeholder"/>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div data-mdb-ripple-init class="btn btn-primary btn-rounded">
                                    <label class="form-label text-white m-1" for="customFile1">Choose file</label>
                                    <input type="file"
                                           class="form-control d-none"
                                           name="productImage"
                                           id="customFile1"
                                           onchange="displaySelectedImage(event, 'productImage')" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-holder d-flex justify-content-center py-5">
                    <input type="submit" class="btn text-center py-3 px-4 rounded-5" value="Add New Product">
                </div>
            </form>
        </div>
    </section>
    <!-- Section EOF -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
        </script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>

</html>