<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>
<body>
    <nav th:replace="~{fragments/navbar}"></nav>
    <!-- Section start -->
    <section class="container-fluid profile-container"
        th:object="${user}">
        <div class="profile-container-wrapper d-flex">
            <aside class="profile-sidebar-menu position-sticky d-lg-block px-0 px-lg-3" id="sidebarDesktop">
                <div class="options-menu">
                    <ul class="options-links ps-0">
                        <li class="options-link list-unstyled py-2 my-2">
                            <a href="" class="btn">
                                <i class="fa-solid fa-circle-info me-2"></i>
                                General Info
                            </a>
                        </li>
                        <li class="options-link list-unstyled py-2 my-2">
                            <a th:href="@{/users/profile/edit-profile}" class="btn">
                                <i class="fa-solid fa-address-card me-2"></i>
                                Edit Profile
                            </a>
                        </li>
                        <li class="options-link list-unstyled py-2 my-2">
                            <a href="" class="btn">
                                <i class="fa-solid fa-cart-shopping me-2"></i>
                                Orders
                            </a>
                        </li>
                        <li class="options-link list-unstyled py-2 my-2">
                            <a href="" class="btn">
                                <i class="fa-solid fa-heart me-2"></i>
                                Favorites
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="profile-info-container">
                <div class="personal-information mb-3 border border-1 rounded-4 p-4">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3><b>Personal Information</b></h3>
                        <a th:href="@{/users/profile/edit-profile}" class="edit-profile-link">
                            <i class="fa-solid fa-pen-to-square fa-fw"></i>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 mb-4">
                            <div class="col-12">
                                First Name
                            </div>
                            <div class="col-12">
                                <b>empty</b>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3 mb-2">
                            <div class="col-12">
                                Last Name
                            </div>
                            <div class="col-12">
                                <b>empty</b>
                            </div>
                        </div>
                        <div class="d-none d-sm-block col-sm-3 mb-2">
                            <span></span>
                        </div>
                        <div class="d-none d-sm-block col-sm-3 mb-2">
                            <span></span>
                        </div>
                        <div class="col-6 col-sm-3 mb-2">
                            <div class="col-12">
                                Email address
                            </div>
                            <div class="col-12">
                                <b>empty</b>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3 mb-2">
                            <div class="col-12">
                                Phone
                            </div>
                            <div class="col-12">
                                <b>empty</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="personal-address mt-5 border border-1 rounded-4 p-4">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3><b>Address</b></h3>
                        <a th:href="@{/users/user-{id}(id = ${user.getId()})/edit-profile}" class="edit-profile-link">
                            <i class="fa-solid fa-pen-to-square fa-fw"></i>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 mb-4">
                            <div class="col-12">
                                Country
                            </div>
                            <div class="col-12">
                                <b>empty</b>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3 mb-2">
                            <div class="col-12">
                                City/State
                            </div>
                            <div class="col-12">
                                <b>empty</b>
                            </div>
                        </div>
                        <div class="d-none d-sm-block col-sm-3 mb-2">
                            <span></span>
                        </div>
                        <div class="d-none d-sm-block col-sm-3 mb-2">
                            <span></span>
                        </div>
                        <div class="col-6 col-sm-3 mb-2">
                            <div class="col-12">
                                Postal Code
                            </div>
                            <div class="col-12">
                                <b>empty</b>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3 mb-2">
                            <div class="col-12">
                                Address
                            </div>
                            <div class="col-12">
                                <b>empty</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section EOF -->
    <footer th:replace="~{fragments/footer}"></footer>
    <th:block th:replace="~{fragments/script}"></th:block>
</body>
</html>