<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>
  <!-- Navbar start -->
  <nav th:replace="~{fragments/navbar}"></nav>
  <nav class="d-flex search__bar__navigation justify-content-center align-items-center position-sticky">
    <div class="search__bar">
      <form action="" class="d-flex border border-2 rounded-3 search__form">
        <input type="search" placeholder="Search product or brand" class="form-control border-0" aria-label="Search" />
        <button class="btn border-0" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-binoculars"
               viewBox="0 0 16 16">
            <path
                    d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z" />
          </svg>
        </button>
      </form>
    </div>
  </nav>
  <!-- Navbar EOF -->
  <!-- Main Content -->
  <main class="container-inline watches-container">
    <div class="banner">
      <img th:src="@{/images/watches_page_banner.png}" class="object-fit-cover" alt="">
    </div>
    <!-- TODO: Think of proper border -->
    <aside
            class="d-flex aside__container justify-content-center border-bottom border-2 text-center">
      <ul class="aside-filter d-inline align-items-center container-fluid justify-content-center text-center pb-3">
        <li class="filter-item d-inline mx-2 mx-xl-5 mx-lg-4 mx-sm-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                  aria-expanded="false">
            Brand
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a href="#" class="dropdown-item">Maserati</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Omega</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Patek Philippe</a>
            </li>
          </ul>
        </li>
        <li class="filter-item d-inline mx-2 mx-xl-5 mx-lg-4 mx-sm-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown"
                  aria-expanded="false">
            Price
          </button>
          <ul class="dropdown-menu text-light" aria-labelledby="dropdownMenuButton3">
            <li>
              <a href="#" class="dropdown-item"></a>
            </li>
            <li>
              <a href="#" class="dropdown-item"></a>
            </li>
            <li>
              <a href="#" class="dropdown-item"></a>
            </li>
          </ul>
        </li>
        <li class="filter-item d-inline mx-2 mx-xl-5 mx-lg-4 mx-sm-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                  aria-expanded="false">
            Material
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li>
              <a href="#" class="dropdown-item">Steel</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Leather</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Metal</a>
            </li>
          </ul>
        </li>
        <li class="filter-item d-inline mx-2 mx-xl-5 mx-lg-4 mx-sm-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown"
                  aria-expanded="false">
            Bezel Color
          </button>
          <ul class="dropdown-menu text-light" aria-labelledby="dropdownMenuButton4">
            <li>
              <a href="#" class="dropdown-item">Blue</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Red</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Black</a>
            </li>
          </ul>
        </li>
        <li class="filter-item d-inline mx-2 mx-xl-5 mx-lg-4 mx-sm-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown"
                  aria-expanded="false">
            Chassis Color
          </button>
          <ul class="dropdown-menu text-light" aria-labelledby="dropdownMenuButton5">
            <li>
              <a href="#" class="dropdown-item">Blue</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Red</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Black</a>
            </li>
          </ul>
        </li>
        <li class="filter-item d-inline mx-2 mx-xl-5 mx-lg-4 mx-sm-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton6" data-bs-toggle="dropdown"
                  aria-expanded="false">
            Mechanism
          </button>
          <ul class="dropdown-menu text-light" aria-labelledby="dropdownMenuButton6">
            <li>
              <a href="#" class="dropdown-item">Automatic</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Quartz</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Mechanical</a>
            </li>
          </ul>
        </li>
      </ul>
    </aside>

    <div class="offers__container d-flex flex-wrap text-center my-auto">
      <div class="row">
        <div class="col-md-4 col-lg-3 mb-2 mb-md-4">
          <div class="card d-flex">
            <img src="images/watches/maserati aqua.png" class="img-fluid" alt="" />
            <div class="card-body">
              <h5 class="card-title">Maserati Ricordo</h5>
              <p class="card-text">asdadasdadsasdasdasds</p>
              <a href="#" class="btn btn-danger">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 mb-2 mb-md-4">
          <div class="card d-flex">
            <img src="images/watches/maserati aqua.png" class="img-fluid" alt="" />
            <div class="card-body">
              <h5 class="card-title">Maserati Ricordo</h5>
              <p class="card-text">asdadasdadsasdasdasds</p>
              <a href="#" class="btn btn-danger">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 mb-2 mb-md-4">
          <div class="card d-flex">
            <img src="images/watches/maserati aqua.png" class="img-fluid" alt="" />
            <div class="card-body">
              <h5 class="card-title">Maserati Ricordo</h5>
              <p class="card-text">asdadasdadsasdasdasds</p>
              <a href="#" class="btn btn-danger">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 mb-2 mb-md-4">
          <div class="card d-flex">
            <img src="images/watches/maserati aqua.png" class="img-fluid" alt="" />
            <div class="card-body">
              <h5 class="card-title">Maserati Ricordo</h5>
              <p class="card-text">asdadasdadsasdasdasds</p>
              <a href="#" class="btn btn-danger">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 mb-2 mb-md-4">
          <div class="card d-flex">
            <img src="images/watches/maserati aqua.png" class="img-fluid" alt="" />
            <div class="card-body">
              <h5 class="card-title">Maserati Ricordo</h5>
              <p class="card-text">asdadasdadsasdasdasds</p>
              <a href="#" class="btn btn-danger">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 mb-2 mb-md-4">
          <div class="card d-flex">
            <img src="images/watches/maserati aqua.png" class="img-fluid" alt="" />
            <div class="card-body">
              <h5 class="card-title">Maserati Ricordo</h5>
              <p class="card-text">asdadasdadsasdasdasds</p>
              <a href="#" class="btn btn-danger">Buy now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer  -->
  <footer th:replace="~{fragments/footer}"></footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>

</html>