<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>
  <!-- Navbar start -->
  <nav th:replace="~{fragments/navbar}"></nav>
  <!-- Navbar EOF -->

  <div class="" id="watchesPageBanner">
    <img src="images/Watches-Page-Banner.png" class="img-fluid" alt="">
  </div>

  <!-- Main Content -->
  <main class="container-inline watches-container">
    <!-- TODO: Think of proper border -->
    <aside
      class="container-flex aside__container justify-content-center border-top border-bottom border-2 text-center py-4">
      <ul class="aside-filter d-inline align-items-center container-fluid justify-content-center text-center">
        <li class="filter-item d-inline mx-2 mx-xl-5 mx-lg-4 mx-sm-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            Brand
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a href="#" class="dropdown-item">Maserati</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Omega</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Patek Philippe</a>
            </li>
          </ul>
        </li>
        <li class="filter-item d-inline mx-2 mx-xl-5 mx-lg-4 mx-sm-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown"
            aria-expanded="false">
            Price
          </button>
          <ul class="dropdown-menu text-light" aria-labelledby="dropdownMenuButton3">
            <li>
              <a href="#" class="dropdown-item"></a>
            </li>
            <li>
              <a href="#" class="dropdown-item"></a>
            </li>
            <li>
              <a href="#" class="dropdown-item"></a>
            </li>
          </ul>
        </li>
        <li class="filter-item d-inline mx-2 mx-xl-5 mx-lg-4 mx-sm-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
            aria-expanded="false">
            Material
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li>
              <a href="#" class="dropdown-item">Steel</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Leather</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Metal</a>
            </li>
          </ul>
        </li>
        <li class="filter-item d-inline mx-2 mx-xl-5 mx-lg-4 mx-sm-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown"
            aria-expanded="false">
            Bezel Color
          </button>
          <ul class="dropdown-menu text-light" aria-labelledby="dropdownMenuButton4">
            <li>
              <a href="#" class="dropdown-item">Blue</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Red</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Black</a>
            </li>
          </ul>
        </li>
        <li class="filter-item d-inline mx-2 mx-xl-5 mx-lg-4 mx-sm-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown"
            aria-expanded="false">
            Chassis Color
          </button>
          <ul class="dropdown-menu text-light" aria-labelledby="dropdownMenuButton5">
            <li>
              <a href="#" class="dropdown-item">Blue</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Red</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Black</a>
            </li>
          </ul>
        </li>
        <li class="filter-item d-inline mx-2 mx-xl-5 mx-lg-4 mx-sm-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton6" data-bs-toggle="dropdown"
            aria-expanded="false">
            Mechanism
          </button>
          <ul class="dropdown-menu text-light" aria-labelledby="dropdownMenuButton6">
            <li>
              <a href="#" class="dropdown-item">Automatic</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Quartz</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Mechanical</a>
            </li>
          </ul>
        </li>
      </ul>
    </aside>

    <div class="d-flex" id="watchesCont">
      <div class="offers__container d-flex text-center my-auto">
        <div class="card d-inline-block col-lg-3 mx-md-0 my-lg-3 col-md-4 my-sm-2 mx-sm-0 col-sm-4 col-6 my-3">
          <img src="images/watches/maserati aqua.png" class="img-fluid" alt="" />
          <div class="card-body">
            <h5 class="card-title">Maserati Ricordo</h5>
            <p class="card-text">asdadasdadsasdasdasds</p>
            <a href="#" class="btn btn-danger">Buy now</a>
          </div>
        </div>
        <div class="card d-inline-block col-lg-3 mx-md-0 my-lg-3 col-md-4 my-sm-2 mx-sm-0 col-sm-4 col-6 my-3">
          <img src="images/watches/maserati aqua.png" class="img-fluid" alt="" />
          <div class="card-body">
            <h5 class="card-title">Maserati Ricordo</h5>
            <p class="card-text">asdadasdadsasdasdasds</p>
            <a href="#" class="btn btn-danger">Buy now</a>
          </div>
        </div>
        <div class="card d-inline-block col-lg-3 mx-md-0 my-lg-3 col-md-4 my-sm-2 mx-sm-0 col-sm-4 col-6 my-3">
          <img src="images/watches/maserati aqua.png" class="img-fluid" alt="" />
          <div class="card-body">
            <h5 class="card-title">Maserati Ricordo</h5>
            <p class="card-text">asdadasdadsasdasdasds</p>
            <a href="#" class="btn btn-danger">Buy now</a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer  -->
  <footer th:replace="~{fragments/footer}"></footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>

</html>